nav{
    display: flex;
    background-color: lightblue;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

button{
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
}

h1{
    cursor: pointer;
}